html {
    height: 100%;
  }
  body {
    height: 100%;
    background-image: url("assets/damon-on-road-jJXN1q7ERks-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    
    background-color: thistle;
    background-size: cover;
    overflow-x: hidden;
  }

.mainBox{
display: grid;
grid-template-areas: "nav nav"
                       ".  ."
                       "title  title"
                       ".  .";
grid-template-rows: 10% 64% 7% 19% ;

}

.navK{
    grid-area: nav;
    background-color: rgb(0, 0,0, 0.6);
}

#buttons{
height: 70px;
    display: grid;
    grid-template-columns: repeat(4,15%);
    justify-content: end;
}

.navLi{
    margin: 1rem 5px 0px 5px;
    color: white;
    padding: 0px;
    text-align: center;
    font-size: 17px;
}

a:hover {
    background-color: rgb(42, 187, 231);
    color: rgb(7, 7, 7);
}

 #backGroundImg{
    grid-area: title;
    grid-template-columns: 3fr;
    background-color: royalblue;
} 
