html {
    height: 100%;
  }
  body {
    min-height: 100%;
    background-color: violet;
    overflow-x: hidden;
  }

.mainBox{
display: grid;
grid-template-columns: 4 ;
grid-template-rows: 1fr 700px ;
}

.navK{
    background-color: tomato;
    align-items: center;
    justify-items: center;
}

.navUl{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns:repeat(4 2fr); 
    column-gap: 10px;
    background-color: yellowgreen;
    list-style-type: none;
    align-items: center;
    justify-items: center;
}
.navLi{
    
}