html {
    height: 100%;
  }
  body {
    height: 100%;
    background-image: url("");
    background-position: center center;
    background-repeat: no-repeat;
    
    background-color: thistle;
    background-size: cover;
    overflow-x: hidden;
  }

.mainBox{
  display: grid;
grid-template-rows: 10% 64% 7% 19% ;

}

.nav1{
    background-color: rgb(0, 0,0, 0.6);
}


.navLi{
    padding: 1rem 5px 0px 5px;
    color: white;
    text-align: center;
    font-size: 17px;
}

a:hover {
    background-color: rgb(42, 187, 231);
    color: rgb(7, 7, 7);
}


  @media screen and (max-width: 600px) {
    .buttons a {display: none;}
    .buttons a.icon {
      float: left;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .buttons.responsive {position: relative;}
    .buttons.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .buttons.responsive a {
      float: none;
      display: block;
      text-align: right;
    }
  }

 #backGroundImg{
    grid-area: title;
    grid-template-columns: 3fr;
    background-color: royalblue;
} 
