html {
    height: 100%;
  }
  body {
    height: 100%;
    overflow-x: hidden;
  }

.nav1{
    background-color: rgba(0, 0, 0, 0.466);
}

.sectionOne{
heigh
}
a:hover {
    background-color: rgb(42, 187, 231);
    color: rgb(7, 7, 7);
}


/* menu button */
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  color: white;
}

/* container that holds text and icon */
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: .25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 2em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

img#iconImage{
  height: 50px;
  width: 50px;
 color: white;
}