
#navText{
    font-family: 'Cardo', serif;
    font-size: 26px;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.2);
   
}
.navbar-light .navbar-brand .navbar-light .navbar-nav .active>.nav-link {
    color: #f8f9fa!important;
    padding: 0rem;
}

.navbar-nav .nav-link, a{
    color: #f8f9fa!important;
    
}
ul li a:hover{
    background-color: #211b4385;
}

#butterflypic{
    width:100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.flex-container{
display: flex;
flex-direction: row;
}

.projectDivs{
position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}