html {
    height: 100%;
  }
  body {
    min-height: 100%;
    background-color: violet;
    overflow-y: hidden;
  }

.mainBox{
display: grid;
grid-template-columns: 4 ;
grid-template-rows: 1fr 700px ;
}

.navK{
    grid-template-columns:4;
    background-color: tomato;
    align-items: center;
    justify-items: center;
}

.navUl{
    display: grid;
    grid-auto-columns:auto; 
    column-gap: 10px;
    background-color: yellowgreen;
    list-style-type: none;
    align-items: center;
    justify-items: center;
}
.navLi{
    
}